@model IEnumerable<Category>

<ul class="list-group">
    @foreach (var item in Model)
    {
        <li class="list-group-item">
            <a asp-action="Index" asp-controller="Home" asp-route-id="@item.Id">@item.Name</a>
        </li>
    }


</ul>

